
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    margin: 25px
}

.title{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 100px;

}
span{
    color: red;
}

.turn{
    color: red;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.board{
    width: 650px;
    height: 565px;
    background: blue;
    margin: 50px auto;
}

.placement {
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.reset {
    color: white;
    position: absolute;
    left: 50%;
    height: 50px;
    width: 125px;
    border: 1px solid white;
    box-sizing: content-box;
    font-size: 50px;
    cursor: pointer;
    background-color: blue;
    transform: translate(-50%);
    text-align: center;
}


.placement.yellow::after{
    content: "";
    height: 90px;
    width: 90px;
    display: flex;
    background-color: yellow;
    border-radius: 50%;
    cursor: not-allowed;
}

.placement.red::after{
    content:"";
    height:90px;
    width: 90px;
    display: flex;
    
    background-color: red;
    border-radius: 50%;
    cursor: not-allowed;
}
